In [1]:
#Import nessesary libraries

import pandas as pd
import sqlite3
from urllib.request import urlopen
from bs4 import BeautifulSoup
from datetime import datetime
import numpy as np
from itertools import permutations
from collections import OrderedDict
from datetime import timedelta

# pip install geopy #This is used to calculate distance based on lat and long... no need to reinvent the wheel...

from geopy.distance import great_circle

import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#Read in top airport data from supplied files
path = 'hw_5_data/'
#db_name = 'airports2.db'
db_name = 'airport_db'
top_airpots = pd.read_csv(path+'top_airports.csv' )
airport_info = pd.read_csv(path+'ICAO_airports.csv' )

In [3]:

airport_info['ICAO'] = airport_info['ident']
combined_info = top_airpots.merge(airport_info, on='ICAO')

## Make SQL tables

In [4]:
connection = sqlite3.connect(path+db_name)
cursor = connection.cursor()

#Create a table for the airport info and a table for the corresponding weather
sql_info_cmd = """CREATE TABLE info (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    ICAO TEXT,
    name TEXT,
    city TEXT,
    latitude_deg FLOAT,
    longitude_deg FLOAT,
    elevation FLOAT,
    enplanements INT)"""


sql_weather_cmd = """CREATE TABLE weather (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    ICAO TEXT,
    date DATE,
    temp_high FLOAT,
    temp_ave FLOAT,
    temp_low FLOAT,
    humidity_ave FLOAT,
    precipitation FLOAT)"""

cursor.execute(sql_info_cmd)
cursor.execute(sql_weather_cmd)
connection.commit()

OperationalError: table info already exists

# Scrape data from weather underground

In [36]:
# Helper functions to format dates and get date range to request data

def month_to_int(string):
    month_dict ={'Jan' : 1,
                 'Feb' : 2,
                 'Mar' : 3,
                 'Apr' : 4,
                 'May' : 5,
                 'Jun' : 6,
                 'Jul' : 7,
                 'Aug' : 8,
                 'Sep' : 9,
                 'Oct' : 10,
                 'Nov' : 11,
                 'Dec' : 12}
    return month_dict[string]

def month_to_str(int):
    months =['Jan' ,'Feb' ,'Mar' ,'Apr' ,'May' ,'Jun' ,'Jul' ,'Aug' ,'Sep' ,'Oct' ,'Nov' ,'Dec' ]
    return months[int]


def strip_date(date):
    date_temp = date.split('/')
    year = date_temp[0]
    month = date_temp[1]
    day = date_temp[2]
    
    return year,month,day

def inc_by_year(date):
    '''
    Helper function to incriment a given date by one year,
    expects to be in format %Y/%m/%d
    '''
    date_temp = date.split('/')
    year_inc = str(int(date_temp[0])+1)
    new_date = '{}/{}/{}'.format(year_inc, date_temp[1], date_temp[2])
    return new_date

def inc_by_day(date):
    '''
    Helper function to incriment a given date by one day,
    expects to be in format %Y/%m/%d
    '''
    date_temp = date.split('/')
    day_inc = str(int(date_temp[2])+1)
    new_date = '{}/{}/{}'.format(date_temp[0], date_temp[1], day_inc)
    return new_date


def get_date_range_to_query(date_start,date_end):
    '''
    Weatherunderground historical data only returns a years worth of data at a time,
    this function takes the users defined date range, and returns a list of start and end dates divided
    into year long chunks. 
    '''
    if date_end == 'today':
        today = datetime.now()
        date_end = '{}/{}/{}'.format(today.year, today.month, today.day)
    
    date_range = list()
    dates_temp_list = list()
    
    dates_temp_list.append(date_start)
    
    date_delta = (datetime.strptime(date_end, '%Y/%m/%d') - datetime.strptime(date_start, '%Y/%m/%d'))
    date_delta_years = int(date_delta.total_seconds()/(60*60*24*365.2425))
    
    for iyear in range(date_delta_years):
        temp_date = inc_by_year(dates_temp_list[iyear])
        dates_temp_list.append(temp_date)
        
    lgc_first_interation = True    
    
    for idate in range(len(dates_temp_list)):
        if lgc_first_interation:
            try:
                date_range.append([dates_temp_list[idate],dates_temp_list[idate+1]])
            except:
                date_range.append([dates_temp_list[idate],date_end])           
        else:
            try:
                date_range.append([inc_by_day(dates_temp_list[idate]),dates_temp_list[idate+1]])
            except:
                date_range.append([dates_temp_list[idate],date_end])
        lgc_first_interation = False  
    
    return date_range


#get_date_range_to_query(date_start,date_end='today')

'2004'

In [58]:
def get_data_from_WU(airport_code, date_start,date_end,data_needed):
    '''
    airport_code 
    data_needed is expected to be an ordered dictonary
    
    '''
    start_year, start_month, start_day = strip_date(date_start)
    end_year, end_month, end_day = strip_date(date_end)
    
    month_str = month_to_str(int(start_month))
    current_year = int(start_year)
    current_month_temp = int(start_month)
    
    url = url = 'https://www.wunderground.com/history/airport/{}/{}/CustomHistory.html?dayend={}&monthend={}&yearend={}'.format(
            airport_code, date_start, end_day, end_month, end_year)
    
    response = urlopen(url)
    html = response.read()
    response.close()
    
    # Use Beautiful soup 
    soup = BeautifulSoup(html, "html.parser")
    
    # Grab the second table
    table = soup.findAll('table')[1]
    results = list()

    for iline, line in enumerate(table.findAll('tr')):
        #we need to get ignore the header. All the headers have the text 'high' 'low' 'ave' ..etc. so 
        #if we just check that one of these words is not in the line we are looking at. If it is, then we grab
        #the month name from it, then we will skip the header

        values_per_line = list()
        if 'high' in line.text:
            month_temp = line.text[0]
            for ivalue, value in enumerate(line.findAll('td')):
                if ivalue == 0:
                    month_str = ''.join([word.rstrip() for word in value.findAll(text=True)])
                    current_month = month_to_int(month_str)
            #print(month_str)
        if 'high' not in line.text:

            #print(iline)    
            #itterate through all the values in the line
            for ivalue, value in enumerate(line.findAll('td')):

                #print(value)
                if ivalue in data_needed.values():
                    
                    stripped_vals = ''.join([word.rstrip() for word in value.findAll(text=True)])
                    #print(stripped_vals)
                    values_per_line.append(stripped_vals)
            

        if values_per_line != []: #make sure there is data in the list
            if current_month < int(current_month_temp):
                current_year += 1
                current_month_temp = current_month
            if current_month == start_month:
                if values_per_line[0] < int(start_day):
                    current_year += 1
                    current_month_temp = current_month
                    
            temp_date =  '{}-{}-{}'.format(str(current_year),str(current_month),str(values_per_line[0]))
            values_per_line[0] = temp_date
            #temp_date = '{}/{}/{}'.format(start_year,start_month,values_per_line[0])
            #values_per_line[0]
            results.append(values_per_line)
    
    return results

data_needed = OrderedDict({'day_of_month': 0, 'temp_high': 1, 'temp_ave': 2, 'temp_low': 3,
                                    'humidity_ave': 8, 'precipitation': 19})    

    

toot = get_data_from_WU('KSFO','2004/2/4','2005/2/4',data_needed)

In [59]:
toot

[['2004-2-4', '55', '52', '46', '86', '0.00'],
 ['2004-2-5', '55', '48', '42', '88', '0.00'],
 ['2004-2-6', '57', '52', '46', '84', '0.02'],
 ['2004-2-7', '55', '50', '45', '77', '0.00'],
 ['2004-2-8', '57', '48', '39', '73', '0.00'],
 ['2004-2-9', '60', '50', '39', '65', '0.00'],
 ['2004-2-10', '60', '54', '46', '50', '0.00'],
 ['2004-2-11', '61', '50', '39', '70', '0.00'],
 ['2004-2-12', '62', '52', '43', '70', '0.00'],
 ['2004-2-13', '59', '52', '46', '63', '0.00'],
 ['2004-2-14', '57', '54', '51', '77', '0.00'],
 ['2004-2-15', '61', '54', '48', '87', '0.05'],
 ['2004-2-16', '61', '56', '51', '89', '0.52'],
 ['2004-2-17', '64', '60', '57', '81', '0.57'],
 ['2004-2-18', '57', '54', '50', '84', '0.39'],
 ['2004-2-19', '54', '50', '46', '80', '0.00'],
 ['2004-2-20', '55', '52', '48', '79', '0.05'],
 ['2004-2-21', '53', '50', '46', '80', '0.04'],
 ['2004-2-22', '55', '52', '48', '82', '0.06'],
 ['2004-2-23', '59', '54', '48', '81', '0.00'],
 ['2004-2-24', '59', '55', '51', '75', '0.09'],
 ['2004-2-25', '59', '54', '48', '82', '1.46'],
 ['2004-2-26', '55', '52', '48', '78', '0.13'],
 ['2004-2-27', '55', '50', '46', '81', '0.06'],
 ['2004-2-28', '57', '50', '44', '79', '0.00'],
 ['2004-2-29', '54', '51', '48', '79', '0.00'],
 ['2004-3-1', '53', '50', '48', '84', '0.07'],
 ['2004-3-2', '64', '54', '45', '64', '0.00'],
 ['2004-3-3', '57', '54', '50', '68', '0.00'],
 ['2004-3-4', '60', '54', '48', '80', '0.00'],
 ['2004-3-5', '59', '52', '46', '83', '0.00'],
 ['2004-3-6', '62', '55', '48', '85', '0.00'],
 ['2004-3-7', '73', '60', '48', '85', '0.00'],
 ['2004-3-8', '75', '62', '50', '73', '0.00'],
 ['2004-3-9', '73', '64', '54', '76', '0.00'],
 ['2004-3-10', '77', '66', '55', '55', '0.00'],
 ['2004-3-11', '75', '64', '52', '68', '0.00'],
 ['2004-3-12', '71', '60', '50', '77', '0.00'],
 ['2004-3-13', '69', '60', '51', '78', '0.00'],
 ['2004-3-14', '77', '62', '48', '76', '0.00'],
 ['2004-3-15', '81', '67', '53', '59', '0.00'],
 ['2004-3-16', '82', '70', '57', '50', '0.00'],
 ['2004-3-17', '81', '69', '55', '58', '0.00'],
 ['2004-3-18', '75', '64', '52', '75', '0.00'],
 ['2004-3-19', '66', '58', '50', '76', '0.00'],
 ['2004-3-20', '77', '62', '48', '71', '0.00'],
 ['2004-3-21', '63', '58', '53', '86', '0.00'],
 ['2004-3-22', '60', '56', '52', '89', '0.00'],
 ['2004-3-23', '61', '56', '51', '82', '0.00'],
 ['2004-3-24', '64', '59', '54', '80', '0.00'],
 ['2004-3-25', '61', '56', '50', '83', '0.52'],
 ['2004-3-26', '57', '52', '46', '75', '0.00'],
 ['2004-3-27', '62', '56', '51', '86', '0.07'],
 ['2004-3-28', '71', '60', '48', '75', '0.00'],
 ['2004-3-29', '64', '58', '53', '82', '0.00'],
 ['2004-3-30', '59', '54', '50', '85', '0.01'],
 ['2004-3-31', '59', '54', '48', '72', '0.00'],
 ['2004-4-1', '64', '54', '45', '62', '0.00'],
 ['2004-4-2', '70', '64', '55', '37', '0.00'],
 ['2004-4-3', '66', '58', '51', '73', '0.00'],
 ['2004-4-4', '55', '53', '51', '80', '0.00'],
 ['2004-4-5', '59', '55', '51', '70', '0.00'],
 ['2004-4-6', '60', '54', '48', '75', '0.00'],
 ['2004-4-7', '66', '56', '48', '77', '0.00'],
 ['2004-4-8', '63', '56', '51', '86', '0.00'],
 ['2004-4-9', '70', '60', '50', '83', '0.00'],
 ['2004-4-10', '70', '58', '46', '86', '0.00'],
 ['2004-4-11', '61', '54', '48', '85', '0.00'],
 ['2004-4-12', '60', '56', '51', '80', '0.00'],
 ['2004-4-13', '64', '56', '50', '73', '0.00'],
 ['2004-4-14', '66', '58', '52', '76', '0.00'],
 ['2004-4-15', '59', '54', '50', '67', '0.00'],
 ['2004-4-16', '63', '54', '46', '71', '0.00'],
 ['2004-4-17', '61', '55', '50', '73', '0.03'],
 ['2004-4-18', '57', '52', '48', '78', '0.04'],
 ['2004-4-19', '62', '56', '51', '76', '0.01'],
 ['2004-4-20', '64', '59', '55', '77', '0.02'],
 ['2004-4-21', '62', '57', '52', '73', '0.00'],
 ['2004-4-22', '73', '60', '48', '61', '0.00'],
 ['2004-4-23', '75', '64', '52', '65', '0.00'],
 ['2004-4-24', '81', '66', '52', '62', '0.00'],
 ['2004-4-25', '87', '70', '55', '57', '0.00'],
 ['2004-4-26', '90', '74', '60', '52', '0.00'],
 ['2004-4-27', '87', '70', '55', '56', '0.00'],
 ['2004-4-28', '69', '60', '55', '70', '0.00'],
 ['2004-4-29', '77', '65', '54', '46', '0.00'],
 ['2004-4-30', '68', '58', '51', '79', '0.00'],
 ['2004-5-1', '75', '62', '50', '77', '0.00'],
 ['2004-5-2', '82', '67', '54', '66', '0.00'],
 ['2004-5-3', '71', '60', '51', '77', '0.00'],
 ['2004-5-4', '66', '59', '52', '79', '0.00'],
 ['2004-5-5', '64', '58', '52', '76', '0.00'],
 ['2004-5-6', '66', '60', '54', '68', '0.00'],
 ['2004-5-7', '71', '64', '57', '76', '0.00'],
 ['2004-5-8', '69', '60', '53', '79', '0.00'],
 ['2004-5-9', '66', '60', '53', '73', '0.00'],
 ['2004-5-10', '64', '58', '52', '71', '0.00'],
 ['2004-5-11', '63', '56', '51', '72', '0.00'],
 ['2004-5-12', '70', '58', '48', '72', '0.00'],
 ['2004-5-13', '68', '58', '51', '77', '0.00'],
 ['2004-5-14', '66', '58', '52', '77', '0.00'],
 ['2004-5-15', '64', '58', '53', '77', '0.00'],
 ['2004-5-16', '64', '57', '52', '79', '0.00'],
 ['2004-5-17', '64', '59', '54', '73', '0.00'],
 ['2004-5-18', '64', '58', '53', '79', '0.00'],
 ['2004-5-19', '64', '58', '51', '78', '0.00'],
 ['2004-5-20', '63', '58', '54', '74', '0.00'],
 ['2004-5-21', '62', '58', '55', '74', '0.00'],
 ['2004-5-22', '62', '58', '55', '74', '0.00'],
 ['2004-5-23', '64', '59', '54', '72', '0.00'],
 ['2004-5-24', '66', '60', '55', '73', '0.00'],
 ['2004-5-25', '69', '62', '55', '73', '0.00'],
 ['2004-5-26', '73', '64', '55', '75', '0.00'],
 ['2004-5-27', '69', '62', '57', '80', '0.00'],
 ['2004-5-28', '66', '60', '55', '79', '0.07'],
 ['2004-5-29', '66', '60', '53', '69', '0.00'],
 ['2004-5-30', '72', '62', '53', '71', '0.00'],
 ['2004-5-31', '70', '62', '53', '68', '0.00'],
 ['2004-6-1', '70', '61', '53', '69', '0.00'],
 ['2004-6-2', '66', '60', '53', '77', '0.00'],
 ['2004-6-3', '64', '58', '53', '83', '0.00'],
 ['2004-6-4', '64', '58', '53', '80', '0.00'],
 ['2004-6-5', '69', '62', '55', '80', '0.00'],
 ['2004-6-6', '68', '61', '54', '72', '0.00'],
 ['2004-6-7', '64', '58', '53', '74', '0.00'],
 ['2004-6-8', '63', '57', '51', '78', '0.00'],
 ['2004-6-9', '66', '58', '51', '83', '0.00'],
 ['2004-6-10', '64', '59', '54', '78', '0.00'],
 ['2004-6-11', '64', '58', '53', '72', '0.00'],
 ['2004-6-12', '66', '60', '53', '72', '0.00'],
 ['2004-6-13', '71', '61', '53', '74', '0.00'],
 ['2004-6-14', '73', '62', '53', '70', '0.00'],
 ['2004-6-15', '82', '67', '54', '65', '0.00'],
 ['2004-6-16', '75', '64', '55', '71', '0.00'],
 ['2004-6-17', '72', '64', '57', '69', '0.00'],
 ['2004-6-18', '72', '64', '59', '69', '0.00'],
 ['2004-6-19', '64', '60', '57', '77', '0.00'],
 ['2004-6-20', '62', '58', '54', '84', '0.00'],
 ['2004-6-21', '64', '60', '55', '80', '0.00'],
 ['2004-6-22', '64', '60', '55', '77', '0.00'],
 ['2004-6-23', '68', '60', '55', '75', '0.00'],
 ['2004-6-24', '68', '60', '55', '75', '0.00'],
 ['2004-6-25', '73', '64', '55', '68', '0.00'],
 ['2004-6-26', '71', '63', '55', '79', '0.00'],
 ['2004-6-27', '72', '62', '54', '75', '0.00'],
 ['2004-6-28', '72', '64', '55', '73', '0.00'],
 ['2004-6-29', '73', '66', '60', '65', '0.00'],
 ['2004-6-30', '71', '64', '57', '76', '0.00'],
 ['2004-7-1', '66', '62', '57', '78', '0.00'],
 ['2004-7-2', '71', '64', '57', '75', '0.00'],
 ['2004-7-3', '73', '63', '55', '78', '0.00'],
 ['2004-7-4', '75', '65', '57', '79', '0.00'],
 ['2004-7-5', '72', '64', '57', '81', '0.00'],
 ['2004-7-6', '71', '64', '57', '80', '0.00'],
 ['2004-7-7', '72', '64', '57', '74', '0.00'],
 ['2004-7-8', '73', '65', '57', '74', '0.00'],
 ['2004-7-9', '71', '64', '57', '70', '0.00'],
 ['2004-7-10', '66', '60', '55', '77', '0.00'],
 ['2004-7-11', '71', '62', '55', '79', '0.00'],
 ['2004-7-12', '66', '60', '54', '82', '0.00'],
 ['2004-7-13', '66', '62', '57', '78', '0.00'],
 ['2004-7-14', '70', '63', '57', '77', '0.00'],
 ['2004-7-15', '73', '64', '55', '74', '0.00'],
 ['2004-7-16', '71', '64', '57', '83', '0.00'],
 ['2004-7-17', '75', '66', '57', '71', '0.00'],
 ['2004-7-18', '77', '68', '62', '81', '0.00'],
 ['2004-7-19', '75', '69', '62', '80', '0.00'],
 ['2004-7-20', '70', '65', '60', '83', '0.00'],
 ['2004-7-21', '75', '66', '57', '83', '0.00'],
 ['2004-7-22', '73', '65', '57', '81', '0.00'],
 ['2004-7-23', '73', '64', '57', '82', '0.00'],
 ['2004-7-24', '73', '68', '62', '78', '0.00'],
 ['2004-7-25', '73', '66', '57', '81', '0.00'],
 ['2004-7-26', '73', '64', '57', '84', '0.00'],
 ['2004-7-27', '75', '66', '57', '77', '0.00'],
 ['2004-7-28', '75', '65', '57', '73', '0.00'],
 ['2004-7-29', '71', '64', '59', '77', '0.00'],
 ['2004-7-30', '73', '66', '59', '78', '0.00'],
 ['2004-7-31', '64', '60', '57', '83', '0.00'],
 ['2004-8-1', '68', '64', '59', '81', '0.00'],
 ['2004-8-2', '66', '62', '59', '79', '0.00'],
 ['2004-8-3', '70', '64', '59', '82', '0.00'],
 ['2004-8-4', '71', '64', '59', '79', '0.00'],
 ['2004-8-5', '71', '65', '59', '77', '0.00'],
 ['2004-8-6', '73', '66', '59', '82', '0.00'],
 ['2004-8-7', '75', '66', '57', '78', '0.00'],
 ['2004-8-8', '73', '65', '57', '81', '0.00'],
 ['2004-8-9', '70', '63', '57', '81', '0.00'],
 ['2004-8-10', '72', '64', '57', '82', '0.00'],
 ['2004-8-11', '75', '65', '55', '83', '0.00'],
 ['2004-8-12', '73', '65', '57', '79', '0.00'],
 ['2004-8-13', '75', '67', '59', '72', '0.00'],
 ['2004-8-14', '66', '62', '59', '77', '0.00'],
 ['2004-8-15', '72', '65', '60', '74', '0.00'],
 ['2004-8-16', '72', '64', '57', '77', '0.00'],
 ['2004-8-17', '73', '66', '59', '79', '0.00'],
 ['2004-8-18', '73', '65', '57', '81', '0.00'],
 ['2004-8-19', '75', '66', '59', '76', '0.00'],
 ['2004-8-20', '75', '68', '61', '75', '0.00'],
 ['2004-8-21', '73', '66', '60', '73', '0.00'],
 ['2004-8-22', '75', '68', '62', '70', '0.00'],
 ['2004-8-23', '73', '66', '61', '79', '0.00'],
 ['2004-8-24', '72', '66', '61', '85', '0.00'],
 ['2004-8-25', '75', '68', '60', '81', '0.00'],
 ['2004-8-26', '78', '69', '60', '71', '0.00'],
 ['2004-8-27', '90', '75', '61', '51', '0.00'],
 ['2004-8-28', '90', '74', '61', '58', '0.00'],
 ['2004-8-29', '73', '65', '57', '82', '0.00'],
 ['2004-8-30', '72', '65', '59', '80', '0.00'],
 ['2004-8-31', '73', '66', '60', '76', '0.00'],
 ['2004-9-1', '72', '65', '59', '75', '0.00'],
 ['2004-9-2', '71', '64', '57', '70', '0.00'],
 ['2004-9-3', '84', '70', '57', '49', '0.00'],
 ['2004-9-4', '91', '81', '69', '38', '0.00'],
 ['2004-9-5', '93', '78', '63', '51', '0.00'],
 ['2004-9-6', '93', '78', '66', '46', '0.00'],
 ['2004-9-7', '91', '76', '61', '60', '0.00'],
 ['2004-9-8', '89', '74', '61', '66', '0.00'],
 ['2004-9-9', '75', '67', '59', '75', '0.00'],
 ['2004-9-10', '71', '64', '57', '76', '0.00'],
 ['2004-9-11', '79', '69', '59', '82', '0.00'],
 ['2004-9-12', '70', '64', '59', '81', '0.00'],
 ['2004-9-13', '72', '65', '59', '77', '0.00'],
 ['2004-9-14', '82', '70', '57', '63', '0.00'],
 ['2004-9-15', '82', '70', '59', '67', '0.00'],
 ['2004-9-16', '72', '64', '57', '73', '0.00'],
 ['2004-9-17', '72', '64', '57', '77', '0.00'],
 ['2004-9-18', '64', '60', '57', '75', '0.00'],
 ['2004-9-19', '66', '62', '55', '76', '0.04'],
 ['2004-9-20', '71', '62', '54', '69', '0.00'],
 ['2004-9-21', '80', '67', '55', '51', '0.00'],
 ['2004-9-22', '82', '68', '54', '56', '0.00'],
 ['2004-9-23', '84', '70', '57', '57', '0.00'],
 ['2004-9-24', '84', '69', '57', '68', '0.00'],
 ['2004-9-25', '69', '60', '54', '82', '0.00'],
 ['2004-9-26', '77', '64', '53', '75', '0.00'],
 ['2004-9-27', '66', '60', '55', '81', '0.00'],
 ['2004-9-28', '70', '64', '59', '77', '0.00'],
 ['2004-9-29', '66', '62', '57', '79', '0.01'],
 ['2004-9-30', '66', '60', '55', '77', '0.00'],
 ['2004-10-1', '66', '60', '55', '74', '0.00'],
 ['2004-10-2', '64', '59', '53', '84', '0.00'],
 ['2004-10-3', '63', '58', '52', '86', '0.00'],
 ['2004-10-4', '63', '60', '57', '84', '0.00'],
 ['2004-10-5', '66', '60', '55', '84', '0.00'],
 ['2004-10-6', '77', '64', '54', '82', '0.00'],
 ['2004-10-7', '68', '60', '55', '87', '0.00'],
 ['2004-10-8', '72', '64', '55', '81', '0.00'],
 ['2004-10-9', '69', '62', '55', '74', '0.00'],
 ['2004-10-10', '77', '63', '51', '57', '0.00'],
 ['2004-10-11', '82', '68', '55', '39', '0.00'],
 ['2004-10-12', '87', '72', '59', '42', '0.00'],
 ['2004-10-13', '90', '74', '57', '46', '0.00'],
 ['2004-10-14', '82', '70', '59', '61', '0.00'],
 ['2004-10-15', '66', '60', '53', '85', '0.00'],
 ['2004-10-16', '66', '60', '55', '77', '0.00'],
 ['2004-10-17', '68', '62', '57', '91', '0.18'],
 ['2004-10-18', '66', '58', '51', '75', '0.00'],
 ['2004-10-19', '64', '60', '55', '87', '1.64'],
 ['2004-10-20', '63', '56', '51', '77', '0.10'],
 ['2004-10-21', '64', '57', '50', '80', '0.00'],
 ['2004-10-22', '64', '60', '55', '80', '0.00'],
 ['2004-10-23', '62', '58', '54', '89', '0.05'],
 ['2004-10-24', '64', '59', '54', '84', '0.00'],
 ['2004-10-25', '62', '56', '51', '78', '0.01'],
 ['2004-10-26', '60', '56', '51', '78', '0.79'],
 ['2004-10-27', '59', '54', '50', '80', '0.00'],
 ['2004-10-28', '62', '54', '48', '79', '0.00'],
 ['2004-10-29', '64', '58', '53', '79', '0.00'],
 ['2004-10-30', '61', '57', '53', '90', '0.00'],
 ['2004-10-31', '69', '60', '53', '77', '0.00'],
 ['2004-11-1', '69', '60', '50', '49', '0.00'],
 ['2004-11-2', '66', '58', '50', '69', '0.00'],
 ['2004-11-3', '57', '54', '51', '81', '0.06'],
 ['2004-11-4', '57', '52', '48', '80', '0.01'],
 ['2004-11-5', '64', '55', '46', '75', '0.00'],
 ['2004-11-6', '61', '54', '46', '88', '0.00'],
 ['2004-11-7', '61', '56', '52', '83', '0.00'],
 ['2004-11-8', '59', '56', '53', '84', '0.00'],
 ['2004-11-9', '61', '58', '54', '80', '0.00'],
 ['2004-11-10', '63', '58', '54', '89', '0.15'],
 ['2004-11-11', '60', '56', '53', '94', '0.65'],
 ['2004-11-12', '62', '58', '53', '84', '0.00'],
 ['2004-11-13', '66', '59', '52', '84', '0.00'],
 ['2004-11-14', '63', '56', '48', '88', '0.00'],
 ['2004-11-15', '60', '56', '53', '90', '0.00'],
 ['2004-11-16', '60', '56', '51', '90', '0.00'],
 ['2004-11-17', '64', '56', '48', '86', '0.00'],
 ['2004-11-18', '60', '54', '48', '93', '0.00'],
 ['2004-11-19', '60', '55', '50', '80', '0.00'],
 ['2004-11-20', '66', '57', '48', '48', '0.00'],
 ['2004-11-21', '61', '56', '51', '43', '0.00'],
 ['2004-11-22', '61', '52', '42', '64', '0.00'],
 ['2004-11-23', '60', '52', '45', '84', '0.00'],
 ['2004-11-24', '61', '52', '44', '85', '0.00'],
 ['2004-11-25', '59', '56', '52', '88', '0.00'],
 ['2004-11-26', '57', '55', '53', '86', '0.00'],
 ['2004-11-27', '59', '56', '53', '77', '0.35'],
 ['2004-11-28', '57', '54', '50', '45', '0.00'],
 ['2004-11-29', '54', '49', '42', '50', '0.00'],
 ['2004-11-30', '53', '45', '37', '74', '0.00'],
 ['2004-12-1', '55', '47', '39', '81', '0.00'],
 ['2004-12-2', '57', '49', '41', '66', '0.00'],
 ['2004-12-3', '57', '50', '44', '60', '0.00'],
 ['2004-12-4', '54', '46', '37', '80', '0.00'],
 ['2004-12-5', '55', '50', '46', '74', '0.00'],
 ['2004-12-6', '57', '52', '46', '81', '0.30'],
 ['2004-12-7', '57', '54', '51', '91', '0.92'],
 ['2004-12-8', '60', '56', '53', '97', '0.99'],
 ['2004-12-9', '60', '56', '53', '99', '0.02'],
 ['2004-12-10', '60', '56', '51', '98', '0.00'],
 ['2004-12-11', '59', '55', '51', '96', '0.00'],
 ['2004-12-12', '57', '52', '48', '90', '0.00'],
 ['2004-12-13', '60', '56', '51', '91', '0.00'],
 ['2004-12-14', '57', '54', '50', '95', '0.00'],
 ['2004-12-15', '61', '54', '48', '91', '0.00'],
 ['2004-12-16', '62', '54', '46', '82', '0.00'],
 ['2004-12-17', '57', '52', '46', '86', '0.00'],
 ['2004-12-18', '61', '52', '44', '86', '0.00'],
 ['2004-12-19', '57', '52', '46', '87', '0.00'],
 ['2004-12-20', '53', '50', '46', '98', '0.00'],
 ['2004-12-21', '61', '52', '44', '81', '0.00'],
 ['2004-12-22', '57', '52', '48', '66', '0.00'],
 ['2004-12-23', '62', '54', '46', '58', '0.00'],
 ['2004-12-24', '57', '51', '45', '78', '0.00'],
 ['2004-12-25', '55', '48', '42', '92', '0.00'],
 ['2004-12-26', '55', '52', '48', '90', '0.20'],
 ['2004-12-27', '54', '51', '46', '96', '2.24'],
 ['2004-12-28', '52', '50', '48', '98', '0.21'],
 ['2004-12-29', '55', '52', '48', '88', '0.72'],
 ['2004-12-30', '57', '54', '52', '87', '0.54'],
 ['2004-12-31', '55', '52', '48', '86', '0.37'],
 ['2005-1-1', '55', '50', '46', '84', '0.05'],
 ['2005-1-2', '48', '47', '46', '96', '1.16'],
 ['2005-1-3', '53', '48', '44', '92', '0.01'],
 ['2005-1-4', '51', '46', '42', '93', '0.00'],
 ['2005-1-5', '52', '48', '43', '95', '0.08'],
 ['2005-1-6', '52', '50', '48', '91', '0.02'],
 ['2005-1-7', '57', '52', '48', '93', '0.59'],
 ['2005-1-8', '54', '51', '48', '87', '0.42'],
 ['2005-1-9', '54', '51', '48', '95', '0.02'],
 ['2005-1-10', '59', '51', '43', '92', '0.47'],
 ['2005-1-11', '53', '48', '43', '85', '0.45'],
 ['2005-1-12', '54', '46', '39', '90', '0.00'],
 ['2005-1-13', '46', '44', '41', '94', '0.00'],
 ['2005-1-14', '51', '45', '39', '94', '0.00'],
 ['2005-1-15', '50', '44', '39', '90', '0.00'],
 ['2005-1-16', '57', '50', '43', '88', '0.00'],
 ['2005-1-17', '55', '50', '45', '96', '0.00'],
 ['2005-1-18', '53', '50', '46', '96', '0.00'],
 ['2005-1-19', '54', '49', '44', '95', '0.00'],
 ['2005-1-20', '54', '50', '45', '94', '0.00'],
 ['2005-1-21', '54', '50', '46', '98', '0.00'],
 ['2005-1-22', '52', '48', '44', '96', '0.00'],
 ['2005-1-23', '53', '49', '45', '94', '0.00'],
 ['2005-1-24', '53', '49', '45', '96', '0.00'],
 ['2005-1-25', '53', '50', '46', '99', '0.09'],
 ['2005-1-26', '60', '56', '51', '94', '0.33'],
 ['2005-1-27', '59', '52', '46', '92', '0.28'],
 ['2005-1-28', '57', '52', '48', '82', '0.22'],
 ['2005-1-29', '57', '52', '46', '81', '0.00'],
 ['2005-1-30', '61', '51', '41', '81', '0.00'],
 ['2005-1-31', '61', '52', '44', '89', '0.00'],
 ['2005-2-1', '69', '58', '46', '63', '0.00'],
 ['2005-2-2', '66', '58', '50', '63', '0.00'],
 ['2005-2-3', '64', '55', '46', '78', '0.00'],
 ['2005-2-4', '59', '52', '46', '95', '0.00']]

# Analysis Section

In [4]:
#Helper function to get data from a given database

def get_data_from_db(db_name, path, sql_cmd):
        connection = sqlite3.connect(path+db_name)
        cursor = connection.cursor()
        connection.row_factory = lambda cursor, row: row[0]
        c = connection.cursor()
        data = c.execute(sql_cmd).fetchall()
        connection.close()
        return data

### Analysis computation code

In [18]:


#Create dictionary to hold all the correlation data
airport_pairs_dict = {}
column_names = ['Airport_pairs','highT_1','highT_3','highT_7',\
                'precip_1','precip_3','precip_7','dist','long_delta' ]
for key in column_names: 
    airport_pairs_dict[key] = list()
    
    

###Get airport codes from database
sql_cmd = "SELECT ICAO FROM airport_info"
airport_code = get_data_from_db(db_name,path, sql_cmd)



##### temporary code to eliminate bad files in database ###
bad_airport = np.array(['KIAH','KLGA','KMSY','KIND'])
airport_code = np.asarray(airport_code)
cuts = np.ones(shape=airport_code.shape, dtype=bool)
bad_indx = np.where(airport_code == 'KIAH')#np.array([word for word in bad_airport]))
cuts[bad_indx] = 0
bad_indx = np.where(airport_code == 'KLGA')#[word for word in bad_airport])
cuts[bad_indx] = 0
bad_indx = np.where(airport_code == 'KMSY')#[word for word in bad_airport])
cuts[bad_indx] = 0
bad_indx = np.where(airport_code == 'KIND')#[word for word in bad_airport])
cuts[bad_indx] = 0


### calculate the correlations for all permutations of airports
for combo in permutations(airport_code[cuts],2):
    
    
    sql_cmd_highT_1 = "SELECT high_temp FROM airport_weather where ICAO = " + '"' + str(combo[0] + '"')
    sql_cmd_highT_2 = "SELECT high_temp FROM airport_weather where ICAO = " + '"' + str(combo[1] + '"')
    
    sql_cmd_precip_1 = "SELECT precipitation FROM airport_weather where ICAO = " + '"' + str(combo[0] + '"')
    sql_cmd_precip_2 = "SELECT precipitation FROM airport_weather where ICAO = " + '"' + str(combo[1] + '"')
    
    sql_cmd_lat_1 = "SELECT latitude_deg FROM airport_info where ICAO = " + '"' + str(combo[0] + '"')
    sql_cmd_lat_2 = "SELECT latitude_deg FROM airport_info where ICAO = " + '"' + str(combo[1] + '"')
    
    sql_cmd_long_1 = "SELECT longitude_deg FROM airport_info where ICAO = " + '"' + str(combo[0] + '"')
    sql_cmd_long_2 = "SELECT longitude_deg FROM airport_info where ICAO = " + '"' + str(combo[1] + '"')
    

    high_temp_1 = get_data_from_db(db_name,path,sql_cmd_highT_1)
    high_temp_2 = get_data_from_db(db_name,path,sql_cmd_highT_2)
    
    precip_1 = get_data_from_db(db_name,path,sql_cmd_precip_1)
    precip_2 = get_data_from_db(db_name,path,sql_cmd_precip_2)
    
    lat_1 = get_data_from_db(db_name,path,sql_cmd_lat_1)[0]
    lat_2 = get_data_from_db(db_name,path,sql_cmd_lat_2)[0]
    
    long_1 = get_data_from_db(db_name,path,sql_cmd_long_1)[0]
    long_2 = get_data_from_db(db_name,path,sql_cmd_long_2)[0]
    
    #when calculating correlations, shift one array by 1,3,and 7 days to get
    #the 1,3, and 7 day correlations
    one_highT_coeff   = np.corrcoef(high_temp_1[:-1],high_temp_2[1:])[0,1]
    three_highT_coeff = np.corrcoef(high_temp_1[:-3],high_temp_2[3:])[0,1]
    seven_highT_coeff = np.corrcoef(high_temp_1[:-7],high_temp_2[7:])[0,1]
    
    one_precip_coeff   = np.corrcoef(precip_1[:-1],precip_2[1:])[0,1]
    three_precip_coeff = np.corrcoef(precip_1[:-3],precip_2[3:])[0,1]
    seven_precip_coeff = np.corrcoef(precip_1[:-7],precip_2[7:])[0,1]
    
    long_delta = long_2-long_1 #difference in longitude
    
    distance = great_circle((lat_1,long_1),(lat_2,long_2)).miles #absolute distance between cities
    
    #append each value to our dictionary
    airport_pairs_dict['Airport_pairs'].append(combo)
    airport_pairs_dict['highT_1'].append(one_highT_coeff)
    airport_pairs_dict['highT_3'].append(three_highT_coeff)
    airport_pairs_dict['highT_7'].append(seven_highT_coeff)
    airport_pairs_dict['precip_1'].append(one_precip_coeff)
    airport_pairs_dict['precip_3'].append(three_precip_coeff)
    airport_pairs_dict['precip_7'].append(seven_precip_coeff)
    airport_pairs_dict['dist'].append(distance)
    airport_pairs_dict['long_delta'].append(long_delta)
    

#turn data dictonary into pandas df, setting the city pair as the index
pairs_df = pd.DataFrame.from_dict(airport_pairs_dict).set_index('Airport_pairs')

### Plotting

In [5]:
def plot_results(df):
    x_val = ['long_delta','dist']
    y_val = ['highT_1','highT_3','highT_7','precip_1','precip_3','precip_7']
    
    fig, ax = plt.subplots(1, len(x_val), figsize = (12, 3 * len(x_val)))
    
    for ii in range(len(x_val)):
        for jj in range(len(y_val)):
            
            ax[ii].set_xlabel(x_val[ii])
            ax[ii].set_ylabel('Correlation coefficien')
            
            df_sort = df.sort_values(by = y_val[jj], ascending=False)[:10]
            
            ax[ii].plot(df_sort[x_val[ii]], df_sort[y_val[jj]], '0', label = y_val[jj])
            ax[ii].legend(loc = 'best')
            
    plt.tight_layout()
    
    
    
    
    
    
    
    
    
    
plot_results(pairs_df)

NameError: name 'pairs_df' is not defined

In [33]:

#the location and 
data_needed = OrderedDict({'day_of_month': 0, 'temp_high': 1, 'temp_ave': 2, 'temp_low': 3,
                                    'humidity_ave': 8, 'precipitation': 19})
data_needed

OrderedDict([('day_of_month', 0),
             ('temp_high', 1),
             ('temp_ave', 2),
             ('temp_low', 3),
             ('humidity_ave', 8),
             ('precipitation', 19)])

In [49]:
s = 2
c = 12


if (s+c-13)>=0:
    print(c, 'new year')

12 new year

##